<!DOCTYPE html>
<html>
  <head>
    <title>Qanda</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if flash[:notice] %>
        <P class="text-success"><%= flash[:notice] %></P>
      <% end %>
      
      <% if flash[:alert] %>
        <P class="text-danger"><%= flash[:alert] %></P>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
